<% provide(:title, 'Rails China')%>
<div class="hidden-phone">
	<ul class="breadcrumb">
		<li><%=link_to "Home", root_path %><span class="divider">/</span></li>
		<li><%=link_to "首页", root_path %></li>
	</ul>
</div>

<div id="main" class="container-fluid">
	<div class="box" style="text-align:center">
		<p>Rails China, 对!没错！这里是rails社区，目前没有什么人。</p>
	</div>

	<div class="home_suggest_topics">
		<div class="box high_replies_topics">
			<h2 class="title">热门帖子</h2>
			<ul>
				<% @high_likes_topics.each do |topic| %>
					<%= link_to user_path(topic.user.name) do%>
						<%= image_tag(topic.user.avatar.url(:small))%>
					<%end%>

					<li><%= link_to "#{truncate(topic.title, length: 25)}", topic_path(topic)%>
					<span class="count"><%= "#{topic.replie_num}人回复"%></span></li>

				<% end %>
			</ul>
		</div>

		<div class="box high_likes_topics">
			<h2 class="title">高分帖子</h2>
			<ul>
				<% @high_replies_topics.each do |topic| %>
					<%= link_to user_path(topic.user.name) do%>
						<%= image_tag(topic.user.avatar.url(:small))%>
					<%end%>

					<li><%= link_to "#{truncate(topic.title, length: 25)}", topic_path(topic) %>
					<span class="count"><%= "#{topic.like_num}人喜欢"%></span></li>
				<% end %>
			</ul>
		</div>
	</div>
</div>
