<div class="hidden-phone">
	<ul class="breadcrumb">
		<li><%=link_to "Home", root_path%></li>
	</ul>
</div>

<div id="main" class="container-fluid">
	<div class="content">
	<div class="box">
		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {class: "form-horizontal"}) do |f| %>
			<%= devise_error_messages! %>
			<fieldset>
				<legend>注册新用户</legend>

				<div class="control-group">
					<%= f.label :email, '邮箱', class: "control-label" %>
					<div class="controls">
						<%= f.email_field :email, :autofocus => true %>
					</div>
				</div>

				<div class="control-group">
					<%= f.label :password, '密码', class: "control-label" %>
					<div class="controls">
						<%= f.password_field :password %>
					</div>
				</div>
				
				<div class="control-group">
					<%= f.label :password_confirmation, '密码确认', class: 'control-label' %>
					<div class="controls">
					<%= f.password_field :password_confirmation %>
					</div>
				</div>

				<div class="form-actions">
					<%= f.submit "提交注册信息", class: 'btn btn-small btn-primary'%>
				</div>
			</fieldset>
		<% end %>
	<div>

	<div class="sidebar">
		<div class="box">
			<h2>已经有帐号了？</h2>
			<%= render "devise/shared/links" %>
		</div>
	</div>
</div>
