<% provide(:title, "Rails China | #{@topic.title}")%>

<div class="hidden-phone">
	<ul class="breadcrumb">
		<li><%=link_to "Home", root_path %><span class="divider">/</span></li>
		<li><%=link_to "社区", topics_path %><span class="divider">/</span></li>
		<li><%=link_to "浏览帖子", topic_path(@topic) %></li>
	</ul>
</div>

<div id="main" class="container-fluid">
	<div class="content">

		<div id="topic_show" class="topics box hfeed">
			<div class="topic hentry">
				<div class="infos">
					<div class="pull-right">
						<%= link_to user_path(@topic.user.name) do %>
							<%= image_tag(@topic.user.avatar.url(:normal))%>
						<% end %>
					</div>
					<h1><%= @topic.title %></h1>
					<div class="info_header">
						<%= link_to "#{@topic.node.name}", node_topics_path(@topic.node), class: 'node'%> • 
						<%= link_to "#{@topic.user.name}", user_path(@topic.user.name)%> • 
						<abbr class="timeago" title=""><%= @topic.date_time %></abbr>发布 • 
						<%= @topic.read_num %>次阅读
					</div>
				</div>

				<div class="body entry-content">
					<p><%= raw(markdown(@topic.content).html_safe) %></p>
				</div>

				<div class="tools pull-right">
					<%= likeable_tag(@topic) %>

					<%= topic_favorite_tag(@topic) %>
				</div>
			</div>
		</div>

		<% if @topic.replies.empty? %>
			<div class="no_result">暂无回复</div>
		<% else %>
			<%= render "replies" %>
		<% end %>

		<div id="reply" class="form box">
			<%= render "reply"%>
		</div>
		
	</div>


	<div class="sidebar">
		<% if user_signed_in? %>
			<div class="box" style="text-align: center">
					<% if @topic.user.name == current_user.name || current_user.admin? %>
						<%= link_to "修改帖子", edit_topic_path(@topic), class: "btn btn-success"%>
						<%= link_to "删除该帖", @topic, method: 'delete', class: "btn btn-danger", data: {confirm: "你确定吗？"} %>
					<% end %>
			</div>
		<% else %>
			<div class="box" style="text-align: center">
				<h2>新手必读</h2>

			</div>
		<% end %>
	</div>
</div>
