<% provide(:title, 'Rails China | 提醒')%>

<div class="hidden-phone">
	<ul class="breadcrumb">
		<li><%=link_to "Home", root_path %><span class="divider">/</span></li>
		<li><%=link_to "提醒", notifications_path %></li>
	</ul>
</div>

<div id="main" class="container-fuild">
	<div id="notifications" class="box box_gray">
		<div class="tool">
			<%= link_to "清空", clear_notifications_path, remote: true, method: "POST", data: {disable_with: "清空中..."}, class: "btn btn-danger"%>
			<div class="total"><span>通知提醒 </span>(<%= @notifications.count %>条) [<%= unread_notify_count %>条未读]</div>
		</div>

		<div class="items">
			<% @notifications.each do |notify|%>
				<div id="<%= notify.anchor%>" class="notify" style="<%= notify.notify_background %>">
					<span>
						<strong ><%= notify.read_situation %></strong>
						来自用户<%= link_to notify.target.user.name, user_path(notify.target.user.name) %>
					</span>


					<div class="avatar pull-left">
						<%= link_to user_path(notify.target.user.name) do%>
							<%image_tag(notify.target.user.avatar.url(:normal))%>
						<% end %>
					</div>

					<div class="notify-content"><%=link_to "#{notify.notify_hash[:content]}", notify.notify_hash[:content_path]%></div>

					<div class="delete"><%= link_to "删除提醒", notification_path(notify), remote: true, method: "DELETE", data: {disable_with: "删除中..."}, class: "btn btn-small btn-danger" %></div>
				</div>
			<% end %>
		</div>
		<%= will_paginate @notifications%>
		</div>
	</div>
</div>
