<div id="main" class="container-fluid">
	<div class="subnav">
		<ul class="nav nav-tabs">
			<li class="active">
				<%= link_to "个人信息", user_path(@user.name)%>
			</li>

			<li>
				<%= link_to "帖子", topics_user_path(@user.name)%>
			</li>

			<li>
				<%= link_to "收藏", favorites_user_path(@user.name)%>
			</li>

			<li>
				<%= link_to "记事本", notes_user_path(@user.name)%>
			</li>

		</ul>
	</div>
	

	<div class="content">
		<div class="box">
			<div class="userinfo vcard">
				<div class="pull-right" style="text-align:center">
					<%= link_to user_path(@user.name) do%>
						<%= image_tag(@user.try(:avatar).url(:big))%>
					<%end%>
				</div>

				<span class="label role">新手</span>
				<ul>
					<li>
						<label>&nbsp</label>
						<span class="title"><%= "第#{@user.id}位会员"%></span>
					</li>

					<li>
						<label>ID:</label>
						<span class="title"><%= "#{@user.name}" %></span>
					</li>

					<li>
						<label>Name:</label>
						<span class="title"><%= "#{@user.name}"%></span>
					</li>

					<li>
						<label>Email:</label>
						<span class="title"><%= "#{@user.email}"%></span>
					</li>

					<li>
						<label>Since:</label>
						<span class="title"><%= "#{@user.created_date}"%></span>
					</li>
				</ul>

			</div>
		</div>

		<div class="box recent_topics">
			<h2 class="title">备受大家喜欢的帖子</h2>
			<ul>
			</ul>
		</div>

		<div class="sidebar">
			<% if current_user.admin? && !@user.admin? %>
				<div class="box">
					<h2>您是管理员，可进行以下操作：</h2>
					<p>不喜欢?
					<%= link_to("删除此帐号", @user, :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "btn btn-danger") %></p>
				</div>
			<% end %>
		</div>
	</div>

</div>
