<%= simple_form_for([:cpanel,@node]) do |f| %>
  <fieldset>
    <legend></legend>
    <%= f.input :name %>
    <%= f.input :section_id, :collection => Section.all.collect { |s| [s.name, s.id] } %>
    <%= f.input :sort %>
    <%= f.input :summary, :input_html => {:class => "xxlarge"} %>
    <div class="form-actions">
      <%= f.submit "保存", class: "btn btn-primary", 'data-disable-with' => "保存中..." %>
      <%= link_to '返回', cpanel_sections_path, class: "btn" %>
    </div>
  </fieldset>
<% end %>

