<footer class="footer">
	<div class="container">
		<div>
			<div class="pull-left">
				<%= image_tag "rails.png", alt: 'Rails'%>
			</div>
			<p class="links">
				<%= link_to "关于", "#"%> | 
				<%= link_to "API", "#"%> | 
				<%= link_to "Rails 视频教学", "http://railscasts-china.com/", target: '_blank'%> | 
				<%= link_to "Gems 镜像", "#"%> | 
				<%= link_to "Rails Guides", "http://guides.ruby-china.org"%> | 
				<%= link_to "贡献者", "#"%> | 
				<%= link_to "反馈", "#"%> | 
				<%= link_to "Github", "#"%> | 
				<%= link_to "Twitter", "#"%>
			</p>
			<p class="copyright">
			中国 Rails 社区，由众多爱好者共同维护，致力于构建完善的 Rails 中文社区。
			<br/>
			</p>
		<div>
	</div>

</footer>
