<header class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
				<ul class="nav">
					<li>
						<%= link_to "Rails China", root_path, id: 'logo'%>
					</li>
					<li class="first"><%= link_to "社区", topics_path %></li>
					<li><%= link_to "酷站", cool_site_path %></li>
					<li class="last"><%= link_to "会员", member_path %></li>
				</ul>

				<%= form_tag("/search", method: "get", class: "navbar-search pull-left") do%>
					<%= text_field_tag :q, nil, class: "search-query span3", placeholder: "搜索" %>
				<%end%>

				<ul class="nav pull-right" id="userbar">
					<%if user_signed_in?%>
						<li>
							<%= link_to "" do%>
								<span class="badge">0</span>
							<%end%>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<%= current_user.name %>
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><%= link_to "我的主页", user_path(current_user.name)%></li>
								<li><%= link_to "个人资料设置", edit_user_registration_path%></li>
								<li><%= link_to "我的收藏", favorites_user_path(current_user.name)%></li>
								<li class="divider"></li>
								<li><%= link_to "退出", destroy_user_session_path, method: "delete"%></li>
							</ul>
						</li>
					<%else%>
						<li><%= link_to "注册", new_user_registration_path %></li>
						<li><%= link_to "登录", new_user_session_path %></li>
					<%end%>
				</ul>
		</div>
	</div>
</header>
