<div class="hidden-phone">
	<ul class="breadcrumb">
		<li><%=link_to "Home", root_path%></li>
	</ul>
</div>

<div id="main" class="container-fluid">
	<div class="content">
	<div class="box">

		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "form-horizontal", :method => :put, :multipart => true }) do |f| %>
			<%= devise_error_messages! %>
			<fieldset>
				<legend>个人资料设置</legend>

				<div class="control-group">
					<%= f.label :name, class: 'control-label' do %>
						<abbr class="required">*</abbr>
						用户名
					<%end%>
					<div class="controls">
						<%= f.text_field :name, :autofocus => true %>
					</div>
				</div>

				<div class="control-group">
					<%= f.label :avatar, class: "control-label" do%>
						头像	
					<%end%>
					<div class="controls">
						<%= f.file_field :avatar %>
					</div>
				</div>


				<div class="control-group">
					<%= f.label :email, class: 'control-label' do %>
						<abbr class="required">*</abbr>
						email
					<%end%>
					<div class="controls">
						<%= f.email_field :email, :autofocus => true %>
					</div>
				</div>

				<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
					<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
				<% end %>

				<div class="control-group">
					<%= f.label :password, "密码", class: 'control-label' %> 
					<div class="controls">
						<%= f.password_field :password, :autocomplete => "off" %>
					</div>
				</div>

				<div class="control-group">
					<%= f.label :password_confirmation, "确认密码", class: 'control-label' %>
					<div class="controls">
						<%= f.password_field :password_confirmation %>
					</div>
				</div>

				<div class="control-group">
					<%= f.label :current_password, class: 'control-label' %>
					<div class="controls">
						<%= f.password_field :current_password %>
					</div>
				</div>

				<div class="control-group">
					<%= f.label :signature, "个性签名", class: 'control-label' %>
					<div class="controls">
						<%= f.text_field :signature, :autofocus => true, class: 'xxlarge' %>
					</div>
				</div>

				<div class="control-group text">
					<%= f.label :introduction, "个人介绍", class: 'control-label' %>
					<div class="controls">
						<%= f.text_area :introduction, :autofocus => true, rows: 6, class: 'xxlarge' %>
					</div>
				</div>

				<div class="form-actions">
					<%= f.submit "更新资料", class: 'btn btn-primary btn-small' %>
				</div>
			</fieldset>
		<% end %>

		<%= link_to "Back", :back %>
	</div>
	</div>

	<div class="sidebar">
		<div class="box" style="text-align: center">
			<%= link_to user_path(current_user.name) do%>
				<%= image_tag(current_user.avatar.url(:big))%>
			<%end%>
			<p>如需修改头像</p>
		</div>

		<div class="box">
			<h2>绑定其他帐号用于登录</h2>
		</div>

		<div class="box">
			<h2>Delete My Account</h2>
			<p>不喜欢?
			<%= link_to("删除此帐号", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "btn btn-danger") %></p>
		</div>
	</div>
</div>
